[submodule "wiki-data"]
	path = wiki-data
	url = ../wiki-data.git
[submodule "teavm"]
	path = teavm
	url = git@github.com:NYRDS/teavm.git
[submodule "luaj"]
	path = luaj
	url = git@github.com:NYRDS/luaj.git
