<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
            xmlns:tools="http://schemas.android.com/tools"
            android:installLocation="auto"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <permission android:name="com.nyrds.pixeldungeon.ml.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.nyrds.pixeldungeon.ml.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"
        tools:node="remove" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"
        tools:node="remove" />

    <uses-feature android:glEsVersion="0x00020000"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>


    <supports-screens
        android:xlargeScreens="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="false"/>

    <application
        android:name="com.nyrds.platform.app.RemixedDungeonApp"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
        tools:ignore="GoogleAppIndexingWarning"
        android:networkSecurityConfig="@xml/network_security_config"
        tools:replace="android:fullBackupContent"
        android:fullBackupContent="@xml/backup_descriptor"
        android:requestLegacyExternalStorage="true"
        android:banner="@drawable/ic_launcher"
        >

        <profileable android:shell="true" android:enabled="true"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <meta-data android:name="com.google.android.gms.games.APP_ID"
                   android:value="@string/app_id"/>

        <activity
            android:name="com.nyrds.platform.game.RemixedDungeon"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name"
            android:screenOrientation="nosensor"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.nyrds.platform.game.InstallMod"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:pathPattern=".*\\.rpd" />
                <data android:scheme="file" />
                <data android:scheme="content" />
                <data android:mimeType="*/*" />
                <data android:host="*" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.nyrds.platform.game.QuickModTest"
            android:exported="true" />

        <activity
            android:name="com.nyrds.platform.game.PlayTest"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="${admob_app_id}"/>

        <meta-data android:name="firebase_analytics_collection_enabled"
            android:value="false" />

        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="${crashlyticsCollectionEnabled}"/>

        <meta-data
            android:name="firebase_performance_collection_deactivated"
            android:value="${performanceCollectionDeactivated}" />

    </application>

</manifest>
