[Desktop Entry]
Name=Remixed Dungeon
Comment=Classic roguelike dungeon crawler game
Exec=remixed-dungeon
Icon=${SNAP}/meta/gui/remixed-dungeon.png
Terminal=false
Type=Application
Categories=Game;RolePlaying;
Keywords=roguelike;dungeon;pixel;RPG;
